<style>
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body{
  background-color: #deebff;
  margin-top: 3%;
  font-family: 'Poppins', sans-serif;
  width: 72%;
  margin-left: 24%;
}
textarea {
  resize: none;
}
.card25{
  position: relative;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  display: inline-block;
  width: 25%;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1rem 1rem 1rem 2rem;
  border-left: 5px solid #658feb;
  transition: 300ms;
  cursor: pointer;
  margin-bottom: 1.5rem;
}
.card25:hover{
  box-shadow: rgba(149, 157, 165, 0.7) 0px 8px 24px;
}

@media only screen and (max-width: 800px) {

  .card25{
    width: 39.5%;
  }

}

@media only screen and (max-width: 400px) {

  .card25{
    width: 83%;
  }

}

.klaida{
  color: red;
  font-style: italic;
  font-size: 14px;
  letter-spacing: 1px;
}

.card30{
  position: relative;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  display: inline-block;
  width: 30%;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1rem 1rem 1rem 2rem;
  border-left: 5px solid #658feb;
  transition: 300ms;
  cursor: pointer;
}
.card30:hover{
  box-shadow: rgba(149, 157, 165, 0.7) 0px 8px 24px;
}

.card94{
  position: relative;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  display: inline-block;
  width: 94%;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1rem 1rem 1rem 2rem;
  border-left: 5px solid #658feb;
  transition: 300ms;
}
.card94:hover{
  box-shadow: rgba(149, 157, 165, 0.7) 0px 8px 24px;
}

@media only screen and (max-width: 800px) {

  .card94{
    width: 93%;
    padding: 1rem 1rem 1rem 1rem;
  }

}
@media only screen and (max-width: 400px) {

  .card94{
    width: 88%;
    padding: 1rem 1rem 1rem 1rem;
  }

  .wrapper .sidebar .profile img{
      display: block;
      width: 50px !important;
      height: 50px !important;
      border-radius: 50%;
      margin: 0 auto;
  }

  .profile {
    margin-bottom: 10px !important;
  }

  .wrapper .sidebar ul li a {
    padding: 10px 30px !important;
  }

}

.wrapper .sidebar .profile{
    margin-bottom: 30px;
    text-align: center;
}

.wrapper .sidebar .profile img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.wrapper .sidebar .profile h3{
    color: #ffffff;
    margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
    color: rgb(206, 240, 253);
    font-size: 14px;
}
.wrapper .sidebar ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #3d3228;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
    text-decoration: none
}

.wrapper .sidebar ul li a .icon{
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}
.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
    color: #3d3228;

    background:white;
    border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
    color: #3d3228;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}
.punktas{
  margin-top: 30px; margin-bottom: 10px;  color: black;
}

@media only screen and (max-width: 800px) {

  .punktas{
    text-align: left;
  }

}

.ivedimas{
    width: 90%;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    color: black;
    padding: 16px;
    background: white;
    height: 45px;
    border: 2px solid #658feb;
}

.ivedimas:focus{
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}

@media only screen and (max-width: 800px) {

  .ivedimas{
    width: 100%;
    margin-bottom: 20px;
  }

}

.button{
  color: #f1eded;
  background-color: #658feb;
  border: 2px solid #658feb;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  font-family: 'Poppins';
  transition: 300ms;
  cursor: pointer;
  min-width: 8%;
  -webkit-appearance: none;
}
.button:hover{
  color: #658feb;
  background-color: white;
  border: 2px solid #658feb;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-family: 'Poppins';
  transition: 300ms;
  cursor: pointer;
  min-width: 8%;
}
input {
  -webkit-appearance: none;
}
@media only screen and (max-width: 800px) {

  .button{
    width: 100%;
    font-size: 12px;
  }

}


.delete{
  color: #f1eded;
  background-color: #e74c3c;
  border: 2px solid #e74c3c;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  font-family: 'Poppins';
  transition: 300ms;
  cursor: pointer;
  padding-left: 12px;
  padding-right: 12px;
}
.delete:hover{
  color: #e74c3c;
  background-color: white;
  border: 2px solid #e74c3c;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-family: 'Poppins';
  transition: 300ms;
  cursor: pointer;
  padding-left: 12px;
  padding-right: 12px;
}

@media only screen and (max-width: 800px) {

  .delete{
    font-size: 12px;
  }

}


.column50 {
  float: left;
  width: 47%;
  padding: 10px;
}

@media only screen and (max-width: 800px) {

  .column50{
    width: 93%;
    text-align: center;
  }

}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.paveiksliukas{
  border-radius: 50%;
  width:128px;
  height:128px
}
.mazaspaveiksliukas{
  border-radius: 50%;
  width:80px;
  height:80px
}
.redaguoti1{
  margin-top: 3%; color: #f1eded; height: 3rem; width: 3rem; background-color: #658feb; border: none; border-radius: 5px; font-family: 'Open Sans'; font-size: 16px;cursor: pointer;
}
.trinti1{
  margin-top: 3%; color: #f1eded; height: 3rem; width: 3rem; background-color: #e74c3c; border: none; border-radius: 5px; font-family: 'Open Sans'; font-size: 16px;cursor: pointer;
}
.wrapper .sidebar{
  background: #7F7FD5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 0 3rem 3rem 0;
    position: fixed;
    top: 0;
    padding-bottom: 10rem;
    left: 0;
    width: 20%;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    border-color: #7F7FD5;
}
@media only screen and (max-width: 800px) {
  body{
    background-color: #deebff;
    margin-top: 3%;
    font-family: 'Poppins', sans-serif;
    width: auto !important;
    padding-left: 5%;
    padding-right: 3%;
    padding-top: 10%;
    margin-left: 0px !important;
  }

  h2{
    font-size: 21px;
  }

  p{
    font-size: 10px;
  }

  span{
    font-size: 12px;
  }

  .laukelis1{
    width: 65% !important;
  }

  .item{
    font-size: 16px;
  }

  .redaguoti1{
    margin-top: 3%; color: #f1eded; height: 2.5rem !important; width: 2.5rem !important; background-color: #658feb; border: none; border-radius: 5px; font-family: 'Open Sans'; font-size: 16px;cursor: pointer;
  }
  .trinti1{
    margin-top: 3%; color: #f1eded; height: 2.5rem !important; width: 2.5rem !important; background-color: #e74c3c; border: none; border-radius: 5px; font-family: 'Open Sans'; font-size: 16px;cursor: pointer;
  }

  .labelis{
    margin-right: 6rem;
  }

  .paveiksliukas{
    border-radius: 50%;
    width:100px;
    height:100px;
  }

  .kortele{
    background: transparent;
    padding: 5%;
    border-radius: 20px;
    text-align: center;
    border: 1px solid;
    display: inline-block;
    width: 34% !important;
    margin-bottom: 5%;
    margin: 2%;
  }
  .butonas{
    font-size: 20px;
      background: white;
      border: none;
      padding: 15px;
      border-radius: 100%;
      margin-left: -6%;
      cursor: pointer;
      position: absolute;
      margin-left: 84%;
      margin-top: -10%;
  }
  .sidebar{
    display: none;
    width: 70% !important;
    z-index: 99;
  }
}
@media only screen and (max-width: 600px) {
  .butonas{
    font-size: 20px;
      background: white;
      border: none;
      padding: 15px;
      border-radius: 100%;
      margin-left: -6%;
      cursor: pointer;
      position: absolute;
      margin-left: 79%;
      margin-top: -20%;
  }
  body{
    background-color: #deebff;
    margin-top: 3%;
    font-family: 'Poppins', sans-serif;
    width: auto !important;
    padding-left: 5%;
    padding-right: 3%;
    padding-top: 20%;
    margin-left: 0px !important;
  }
}
@media only screen and (min-width: 800px) {
  .butonas{
    display: none;
  }
}
.mygtukas {
  height: 2.5rem;
  border-radius: 20px;
  border: 1px solid #7F7FD5;
  padding: 0 3% 0 3%;
  font-family: 'Poppins';
  transition: 300ms;
}
.mygtukas:hover {
  height: 2.5rem;
  border-radius: 20px;
  border: 1px solid #7F7FD5;
  padding: 0 3% 0 3%;
  font-family: 'Poppins';
  background: linear-gradient(to top, #86A8E7, #7F7FD5);
  color: white;
  cursor: pointer;
  transition: 300ms;
}
.redaguoti{
  margin-top: -10px; color: #f1eded; height: 2rem; width: 2rem; background-color: #658feb; border: none; border-radius: 5px; font-family: 'Open Sans'; font-size: 16px;cursor: pointer;
}
.trinti{
  margin-top: -15px; color: #e74c3c; height: 2rem; width: 2rem; background-color: transparent; border: none; border-radius: 5px; font-family: 'Open Sans'; font-size: 16px;cursor: pointer;
}
</style>
